*{
  margin:0;
  padding:0;
}

header{
  position: fixed;
  background-color:#F5F5F5;
  margin:0 auto;
  height:70px;
  width:100%;
}
.nav{
  width:85%;
  margin:0 auto;

}
.container{
  padding-top:20px;
}
.title{
  display:inline-block;
}
ul{
  float:right;
}
li{
  list-style:none;
  float:left;
  margin-right:20px;
}
.fa{
  padding-right:5px;
}
.logo{
  background-image:url(img/DSC03173.jpg);
  background-size:cover;
  margin:0 auto;
  width:100%;
  height:700px;
}
.top{
  color:#EEEEEE;
  font-size:40px;
  text-align: center;
  padding-top:400px;
}
.font{
  font-family:"Courier New";
}
.profile{
 display:flex;
 justify-content:center;
 height:300px;
 margin: 0 auto;
}
.profileimage{
  display:inline-block;
  padding-right:30px;
  
}
.profileimg{
  border-radius: 50%;
  height:250px;
  margin:50px 50px 0 0px;
}
.introduction{
  padding:100px 0 0 50px;
  display:inline-block;
  vertical-align: middle;
  
}
.name{
  font-size:30px;
}
.intro{
  text-align:center;
  font-size:17px;
  padding-top:50px;
}